<form (submit)="onSubmit($event)">
  <label for="username">Username:</label>
  <input id="username" (input)="onUsernameChange($event)" type="text" required>

  <label for="email">Email:</label>
  <input id="email" (input)="onEmailChange($event)" type="email" required>

  <label for="password">Password:</label>
  <input id="password" (input)="onPasswordChange($event)" type="password" required autocomplete="current-password">

  <label for="confirmPassword">Confirm Password:</label>
  <input id="confirmPassword" (input)="onConfirmPasswordChange($event)" type="password" required autocomplete="current-password">

  <button type="submit">Register</button>

  <div *ngIf="successMessage" class="successMessage">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</div>
</form>

<div class="social-login">
  <a href="http://localhost:8081/oauth2/authorization/google">
    <img src="/assets/icons/google-login.png" alt="Register with Google" class="google-login-img">
  </a>
</div>

<div class="login-link">
  <p>Already have an account? <a href="/login">Login</a></p>
</div>
