<div class="sidebar" [class.hidden]="sidebarHidden">
  <div class="user-info" (click)="stopPropagation($event)">
    <button (click)="toggleUserMenu()">{{ user?.username || 'User' }}</button>
    <ul *ngIf="showUserMenu">
      <li>Email: {{ user?.email }}</li>
      <li><a [routerLink]="['/users/profile']">Profile</a></li>
      <li *ngIf="roles.isAdmin"><a [routerLink]="['/admin/subscriptions']">Manage Subscriptions</a></li>
      <li *ngIf="roles.isAdmin"><a [routerLink]="['/admin/users']">Manage Users</a></li>
      <li><a [routerLink]="['/login']" (click)="logout()">Logout</a></li>
    </ul>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="search..." [(ngModel)]="searchQuery">
    <button (click)="onSearch()">
      <img src="assets/icons/search-icon.png" alt="Search">
    </button>
  </div>

  <nav>
    <button (click)="navigate('/home')">
      <img src="assets/icons/home-icon.png" alt="Home" class="nav-icon"> Home
    </button>
    <button (click)="navigate('/dashboard/getting-started')">
      <img src="assets/icons/getting-started-icon.png" alt="Getting Started" class="nav-icon"> Getting Started
    </button>

    <div class="dropdown">
      <button (click)="handleDropdownClick('/dashboard/projects', 'projects')">
        <img src="assets/icons/projects-icon.png" alt="My Projects" class="nav-icon"> My Projects
      </button>
      <ul *ngIf="dropdowns['projects']">
        <li *ngFor="let project of projects">{{ project.name }}</li>
        <li><button (click)="addProject()">Add Project</button></li>
      </ul>
    </div>

    <div class="dropdown">
      <button (click)="handleDropdownClick('/dashboard/tasks', 'tasks')">
        <img src="assets/icons/tasks-icon.png" alt="Task List" class="nav-icon"> Task List
      </button>
      <ul *ngIf="dropdowns['tasks']">
        <li *ngFor="let task of tasks">{{ task.name }}</li>
        <li><button (click)="addTask()">Add Task</button></li>
      </ul>
    </div>

    <div class="dropdown">
      <button (click)="handleDropdownClick('/dashboard/developers', 'developers')">
        <img src="assets/icons/developers-icon.png" alt="Developers" class="nav-icon"> Developers
      </button>
      <ul *ngIf="dropdowns['developers']">
        <li *ngFor="let developer of developers">{{ developer.name }}</li>
      </ul>
    </div>

    <button>
      <img src="assets/icons/more-icon.png" alt="More" class="nav-icon"> More
    </button>
  </nav>

  <div class="footer-links">
    <a [routerLink]="['/invite-members']">Invite Members</a>
    <a [routerLink]="['/subscriptions']">Upgrade Plan</a>
  </div>
</div>

<button class="toggle-sidebar" (click)="sidebarHidden = !sidebarHidden"><<<</button>
