.home-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  text-align: center
  height: 100vh
  padding: 20px
  box-sizing: border-box

  .welcome-card
    margin-bottom: 0
    width: 100%
    max-width: 600px
    background-color: transparent
    box-shadow: none
    color: #333

    mat-card-header
      display: flex
      flex-direction: column
      align-items: center
      padding-bottom: 10px

    .animated-title
      font-size: 28px
      font-weight: bold
      color: #0078d4
      transition: all 0.3s ease

      &:hover
        font-size: 32px
        color: #005a9e

  .title-divider
    width: 80%
    height: 2px
    background-color: #0078d4
    margin: 20px 0 20px 0
    transition: width 0.4s ease

    &:hover
      width: 100%

  .slider-info
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%
    max-width: 1150px
    padding-left: 220px
    margin-bottom: 0px

    mat-icon
      color: #76767c
      font-size: 16px
      cursor: pointer
      margin-right: 10px

  .slider-container
    display: flex
    align-items: center
    position: relative
    width: 100%
    max-width: 1000px
    padding: 10px 0
    overflow: hidden

    .scroll-button
      background-color: rgba(128, 128, 128, 0.3)
      color: #fff
      border: none
      border-radius: 50%
      cursor: pointer
      height: 40px
      width: 40px
      position: absolute
      top: 50%
      transform: translateY(-50%)
      display: flex
      align-items: center
      justify-content: center
      transition: background-color 0.3s ease
      z-index: 2

      mat-icon
        font-size: 24px

      &:hover
        background-color: #005a9e

    .left
      left: 10px

    .right
      right: 100px

    .slider-wrapper
      display: flex
      overflow: hidden
      width: calc(100% - 80px)

      .slider-content
        display: flex
        gap: 10px
        flex-wrap: nowrap
        overflow-x: auto
        scroll-behavior: smooth
        padding-right: 50px

        &::-webkit-scrollbar
          display: none

        scrollbar-width: none

        -ms-overflow-style: none

        .content-card
          flex: 0 0 220px
          height: 220px
          background-color: #fff
          border-radius: 8px
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
          cursor: pointer
          transition: background-color 0.3s ease
          display: flex
          flex-direction: column
          overflow: hidden

          mat-card-header
            background-color: transparent
            color: #0078d4
            border-radius: 8px 8px 0 0
            padding: 10px
            text-align: center

          mat-card-content
            flex: 1
            padding: 10px
            display: flex
            flex-direction: column
            justify-content: center
            overflow: hidden

          mat-card-actions
            display: flex
            justify-content: flex-end
            padding: 0 10px 10px

          &:hover
            background-color: #e0e0e0

          .mat-card-title, .mat-card-subtitle
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

          .card-text
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        .add-card
          flex: 0 0 220px
          height: 220px
          background-color: #f5f5f5
          border-radius: 8px
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
          cursor: pointer
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          text-align: center
          transition: background-color 0.3s ease

          &:hover
            background-color: #e0e0e0

          mat-card-header
            color: #0078d4

          mat-card-content
            mat-icon
              font-size: 48px
              color: #0078d4

@media (max-width: 768px)
  .content-card, .add-card
    flex: 0 0 150px
    height: 150px

@media (max-width: 480px)
  .content-card, .add-card
    flex: 0 0 120px
    height: 120px
