<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h2>Manage Users</h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.userID}">User ID</td>
                <form th:action="@{/admin/users/delete/{id}(id=${user.userID})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/dashboard">Back to Dashboard</a>
</div>
</body>
</html>
